.img-container {
    padding: 2%;
}

.img-container img {
    max-width: 50%;
}

.input-container {
    max-width: 100%;
    text-align: center;
}

#downloadBtn {
    width: 150px;
}

.title {
    padding: 5px;
}

.hidden {
    display: none;
}